@page "/"
@inject IToastService toastService

<h1>My Little Helpers</h1>

Welcome to my collection of apps which help with organizing your life.

<hr />

<AuthorizeView>
    <Authorized>
        <div class="d-flex flex-wrap justify-items-start w-100">
            @if (HabitStates != null && HabitStates.Count() > 0)
            {
                <div class="card m-3" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Daily Habits</h5>
                        <p class="card-text">
                            <ul class="list-group">
                                @foreach (var habit in HabitList)
                                {
                                    @if (habit.DoneToday())
                                    {
                                        <li class="list-group-item">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <span class="material-icons" style="color: @habit.Category?.Color">
                                                        @habit.Category?.Icon
                                                    </span>
                                                    <span>@habit.Title</span>
                                                </div>
                                                <span class="badge bg-@ColourForDay(habit.Id, 0) rounded-pill">Mo</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 1) rounded-pill">Tu</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 2) rounded-pill">We</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 3) rounded-pill">Th</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 4) rounded-pill">Fr</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 5) rounded-pill">Sa</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 6) rounded-pill">Su</span>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item list-group-item-dark pointer" @onclick="eventArgs => { ToggleHabitDone(habit.Id); }">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <span class="material-icons" style="color: @habit.Category?.Color">
                                                        @habit.Category?.Icon
                                                    </span>
                                                    <span>@habit.Title</span>
                                                </div>

                                                <span class="badge bg-@ColourForDay(habit.Id, 0) rounded-pill">Mo</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 1) rounded-pill">Tu</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 2) rounded-pill">We</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 3) rounded-pill">Th</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 4) rounded-pill">Fr</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 5) rounded-pill">Sa</span>
                                                <span class="badge bg-@ColourForDay(habit.Id, 6) rounded-pill">Su</span>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            }

            @if (Tasks != null)
            {
                <div class="card m-3" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Todays ToDo's</h5>
                        <p class="card-text">
                            <ul class="list-group">
                                @if (Tasks.Count() > 0)
                                {
                                    @foreach (var task in Tasks)
                                    {
                                        if (task.Done)
                                        {
                                            <li class="list-group-item">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">
                                                        <span class="material-icons" style="color: @task.Category?.Color">
                                                            @task.Category?.Icon
                                                        </span>
                                                        <span>@task.Title</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item bg-secondary" @onclick="eventArgs => { ToggleToDotDone(task.Id); }">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">
                                                        <span class="material-icons" style="color: @task.Category?.Color">
                                                            @task.Category?.Icon
                                                        </span>
                                                        <span>@task.Title</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                <span>No to do's to display</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            }

            @if (AppointmentList != null)
            {
                <div class="card m-3" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Todays Appointment's</h5>
                        <p class="card-text">
                            <ul class="list-group">
                                @if (Tasks.Count() > 0)
                                {
                                    @foreach (var appointment in AppointmentList)
                                    {
                                        <li class="list-group-item">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <span class="material-icons" style="color: @appointment.Category?.Color">
                                                        @appointment.Category?.Icon
                                                    </span>
                                                    <span>@appointment.Title (@appointment.Date.ToShortTimeString())</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                <span>No to do's to display</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            }

            @if (BudgetEntries != null)
            {
                <div class="card m-3" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">This Month's Finances</h5>
                        <p class="card-text">
                            <span>Balance: @Balance()</span>
                            <hr />
                            <ul class="list-group">
                                @if (BudgetEntries.Count() > 0)
                                {
                                    @foreach (var entry in BudgetEntries)
                                    {
                                        <li class="list-group-item">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <span class="material-icons" style="color: @entry.Category?.Color">
                                                        @entry.Category?.Icon
                                                    </span>
                                                    <span>@entry.Description @string.Format("{0:C}", entry.Amount)</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                <span>No information to display</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            }

            <div class="card m-3" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">PDF Export</h5>
                    <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="ms-2 me-auto">
                                    <button class="btn btn-primary" @onclick="DayPLan">Day Plan</button>
                                </div>
                                <div class="ms-2 me-auto">
                                    <button class="btn btn-primary" @onclick="WeekPLan">Week Plan</button>
                                </div>
                                <div class="ms-2 me-auto">
                                    <button class="btn btn-primary" @onclick="MonthPlan">Month Plan</button>
                                </div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p role="status" class="fs-1">
            <a href="\identity\account\register">
               Register
            </a> or <a href="\identity\account\login">
               Login
            </a> to use the application.
        </p>
    </NotAuthorized>
</AuthorizeView>